body{
	  background:black !important;
	  color:#fff !important;
	font-family: 'Cutive Mono'!important ;
}

::selection {
  background: rgb(0,192,255); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(0,192,255); /* Gecko Browsers */
}

.logo{
	position:absolute;
	display:block;
	background: url(images/dh.png) no-repeat;
     top:15px;
	left:15px;
	width:75px;
	height:100px;
    background-size:cover;
	
}

.logo:hover{
	  background-position: 0 -98px;
}

header{
padding-top:50px;
}

h1{
font-family: 'Josefin Sans' !important;
	color:#fff !important;
	font-size:4em !important;	
	font-weight:bold !important;
	text-transform:uppercase;
}

.mainSection{
margin-top:20px;
background: #000;
border-radius:30px;
	border: #fff solid 4px !important;
	 
}

.result{
	overflow:hidden;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1.5em;
}

img {
	max-width: 100%
}

#mapResult img{
	border-radius:30px !important;
}


.weatherIcon{
	font-size:4em;
}

@media only screen and (max-width : 480px){
	h1{
	font-size:2.7em !important;	
}

.logo{
	 -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5,0.5);
}

.result{
	font-size:1.2em;
}

.mainSection{
	border: #fff solid 3px !important;
} 
	}


